<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Clock</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

  <h3 id="quote">Quted Text</h3>

  <h3 id="greeting">Goooood monring</h3>

  <h1 id ="time">10 O CLock</h1>

  <h3 id="location">London, England</h3>






	<script src="index.js"></script>
  </body>
</html>