

html {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    color: white;
    font-family: 'Nanum Myeongjo', serif;
}

html.day {
    background-image: url("/images/woods-day.jpg");

}

html.night {
    background-image: url("/images/moon-night.jpg");

}

h1#time {
    font-size: 8rem;
}

div.container {
    margin-top: 10%;
    margin-left: 5%;
    line-height: 0.25;
}